#ignore thumbnails created by cyx14998
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.scssc
.sass*
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.scc
*.vspscc
[Ll]og
output/*
test/*
.idea
.git/
app/demo/index_bak/
app/modules/tc/index_bak/
app/modules/tpl/index_bak/
*.orig
tempHash.json
app/tempHash.json
*temp
*Temp
#ignore favicon.ico
favicon.ico
.vscode/*
compilerconfig*
tools/node_modules
*.node-version
*.config
node_modules